<div>
  <form [formGroup]="form" (keyup)="updateFormDetails()">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input is-medium" placeholder="First Name"
          formControlName="firstName" maxlength=15>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas" [class.fa-check]="form.get('firstName')?.valid"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input is-medium" placeholder="Last Name" 
          formControlName="lastName" maxlength=15>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas" [class.fa-check]="form.get('lastName')?.valid"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input is-medium" type="email" placeholder="Email" 
          formControlName="email" maxlength=30>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas" [class.fa-check]="form.get('email')?.valid"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input is-medium" type="number" placeholder="Contact number"
          formControlName="contactNumber" 
          (keydown)="onInput($event)">
        <span class="icon is-small is-left">
          <i class="fas fa-address-book"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas" [class.fa-check]="isContactNumberValid(form.get('contactNumber')?.value)"></i>
        </span>
      </p>
    </div>
  </form>
</div>