.text-field {
    font-size: 30px;
    font-family: monospace;
    color: dimgray;
}

.input-field {
    font-size: xx-large;
    font-family: monospace;
}

.field-mb-5 {
    margin-bottom: 1.15rem;
    width: max-content;
}